.main-page {
  margin: 0;
  background: #222831;
}
.pie-chart {
  width: 400px;
  margin-top: 30px;
}

.chart {
  width: 100%;
  height: 50%;
}

.info-boxes {
  margin-bottom: 30px;
  &__title {
    color: #fff;
    text-align: center;
  }
  .info-box {
    width: 100%;
    max-width: 250px;
    &__icon {
      background: #60c2ef;
      min-height: 140px;
      height: 100%;
    }
  }
}

.darken-overlay div {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 768px) {
  .info-boxes .info-box {
    max-width: 90%;
    margin: 10px auto;
  }
  .pie-chart {
    width: 250px;
  }
  .col-6 {
  //  max-width: 50px;
   width: 100px;
  }
  .info-container {
    width: 300px;
  }
}
